<h1>Home#index2112</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'My Blog', articles_path %> |
<%= link_to 'Terms', terms_path %> |
<%= link_to 'About', about_path %>
